<div id="loginDiv">
  <h4>Login</h4>
  <form #myForm="ngForm">
    
    Email: <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" 
    required="required" #controlEmail="ngModel" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
    <span class="error" *ngIf="controlEmail.invalid && controlEmail.touched 
    && controlEmail.errors.required">Email can't be blank</span>
    <span class="error" *ngIf="controlEmail.invalid && controlEmail.touched 
    && controlEmail.errors.pattern">Email is invalid</span>
    <br>

    Password: <input type="password" [(ngModel)]="password" name="password" 
    required="required" #controlPassword="ngModel" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15})">
    <br>
    <span class="error" *ngIf="controlPassword.invalid && controlPassword.touched 
    && controlPassword.errors.required">Password can't be blank</span>
    <span class="error" *ngIf="controlPassword.invalid && controlPassword.touched 
    && controlPassword.errors.pattern">Password is invalid</span>

    <input type="submit" value="Login" (click)="onLoginClick(myForm)">
    <br>
    {{message}}
  </form>
</div>
