#main{
  background-color: #21D4D7;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#quote-box {
  background-color: white;
  position: relative;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  width: 40vw;
  height: auto;
  margin:auto;//20vh 20vh 0 0;
  display:table;
  
  #text{
    text-align: center;
    height: auto;
    width: 100%;
    font-size:1.75em; 
    position: relative;
  }
  
  #author{
    text-align: right;
    height: auto;
    width: 100%;
    position: relative;
  }
  
  .row{
    width:100%;
    margin:auto;
    display:block;
    position: relative;
    .button{
      color: white;
      background-color:#21D4D7;
      border:none;
      border-radius: 5px;
      padding: 8px 8px 8px 8px;
      cursor:pointer;
      opacity: 1;
      &:hover {
        opacity:0.7;
      }
    }
  }
}
   
    
  




