@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body {
  background-color: #006699;
  width: 100vm;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; 
  font-family: 'Gloria Hallelujah', cursive;
}

.main-body {
  width: 60vm;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #D3D3D3;
}

#survey-form {
  width: 60vm;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


#number, #email, #name{
  height:20px;
  width:280px;
  padding:5px;
  margin:10px;
  border:2px solid;
  border-radius: 5px;
}



.hate_list {
  display: grid;
  grid-template-areas:
  			"header header"
        "qq";
}
