body {
  background-color: #C0C0C0;
  width: 100vw;
  height: 100vh;
}

.code-page {
  position: relative;
  width: 40vw;
  height: 100vm;
  bacground-color: #F0FFFF;
  margin: auto;
}
.code-page .toolbar {
  background-color: #0099FF;
  width: 40vw;
  border-radius: 3px;
  border: solid 3px black;
}
.code-page #editor {
  width: 40vw;
  height: 200px;
  border: solid 3px black;
}
.code-page #preview {
  width: 40vw;
  border: solid 3px black;
}
.code-page #preview code {
  background-color: #F0FFFF;
  font-weight: bold;
}
.code-page #preview pre {
  background-color: #F0FFFF;
  width: 32vw;
}
.code-page #preview blockquote {
  border-left: 3px solid black;
}
.code-page #preview img {
  max-width: 20vw;
  max-height: 20vh;
}
